[submodule "desktop-apps"]
	path = desktop-apps
	url = https://github.com/kanweiwei/desktop-apps.git
[submodule "desktop-sdk"]
	path = desktop-sdk
	url = https://github.com/kanweiwei/desktop-sdk.git
[submodule "core"]
	path = core
	url = https://github.com/kanweiwei/core.git
[submodule "sdkjs"]
	path = sdkjs
	url = https://github.com/kanweiwei/sdkjs.git
[submodule "dictionaries"]
	path = dictionaries
	url = https://github.com/kanweiwei/dictionaries.git
[submodule "web-apps"]
	path = web-apps
	url = https://github.com/kanweiwei/web-apps.git
[submodule "build_tools"]
	path = build_tools
	url = https://github.com/kanweiwei/build_tools.git